.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #00008b, #9932cc) 1;
  padding: 10px 30px 30px 20px;
}
button[type='submit'] {
  max-width: 100px;
  margin-top: 20px;
  background-color: #698bf8;
  border-color: #9932cc;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
input[name="name"],
[name="number"] {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
label>span{
  font-weight: 700;
  font-size: 24px;
}

button[type='submit']:active {
  background-color: #9932cc;
}